@model HRManagement.Models.Partials.EmployeeEditSidebarViewModel

<div >
    <ul class="nav nav-tabs">
        <li role="presentation" class="@(Model.ActiveTab == "employee" ? "active" : "")"><a href="/Employees/Edit/@Model.EmployeeId">Employee</a></li>
        <li role="presentation" class="@(Model.ActiveTab == "trainings" ? "active" : "")"><a href="/Employees/@Model.EmployeeId/Trainings">Trainings</a></li>
        <li role="presentation" class="@(Model.ActiveTab == "contactInformation" ? "active" : "")"><a href="/Employees/@Model.EmployeeId/ContactInformation">Contact</a></li>
    </ul>
</div>
</br>
